body {
  margin: 0px;
  padding: 0px;
  font-family: "IBM Plex Mono", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(20, 20, 20);
  height: 1400px;
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #4520ab;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 21px;
  color: #ffffff;
}

.logo svg {
  width: 140px;
  height: 48px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.header a {
  text-decoration: none;
  color: rgb(125, 99, 125);
  position: relative;
}

.word a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #ffbc5b;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.word a:hover::after {
  width: 100%;
}

.word a:hover {
  color: #ffbc5b;
}

.search-icon {
  width: 19.31px;
  height: 20px;
  background-image: url("../img/icon_search_off.svg");
  background-size: cover;
}

.search-icon:hover {
  background-image: url("../img/icon_search_on.svg");
}

.user img {
  width: 44px;
  height: 44px;
}

h2 {
  color: #ffbc5b;
  font-weight: 600;
  font-size: 30px;
  margin: 5% 80px;
}

.little-arrow {
  width: 24px;
  height: 29px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
}

.film1,
.film2,
.film3 {
  width: 322px;
  height: 242px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.film1 .film-image {
  width: 322px;
  height: 182px;
  border-radius: 15px;
  display: flex;
  background-image: url(../img/film1.png);
}

.film2 .film-image {
  width: 322px;
  height: 182px;
  border-radius: 15px;
  display: flex;
  background-image: url(../img/film2.png);
}

.film3 .film-image {
  width: 322px;
  height: 182px;
  border-radius: 15px;
  display: flex;
  background-image: url(../img/film3.png);
}

.rating {
  height: 30px;
  width: 51px;
  background-color: #ffbc5b;
  border-radius: 6px;
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.film-name {
  font-weight: 500;
  font-size: 16px;
  color: #989898;
}

.description {
  font-weight: 500;
  font-size: 14px;
  color: #515151;
}

.big-arrow {
  width: 50px;
  height: 60px;
  margin-top: 30px;
}

.content2 {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
}

.film4,
.film5,
.film6 {
  width: 322px;
  height: 545px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.film4 .film-image {
  width: 322px;
  height: 485px;
  border-radius: 15px;
  display: flex;
  background-image: url(../img/film4.png);
}

.film5 .film-image {
  width: 322px;
  height: 485px;
  border-radius: 15px;
  display: flex;
  background-image: url(../img/film5.png);
}

.film6 .film-image {
  width: 322px;
  height: 485px;
  border-radius: 15px;
  display: flex;
  background-image: url(../img/film6.png);
}

.content2 .big-arrow {
  width: 50px;
  height: 60px;
  margin-top: 100px;
}

.content a,
.content2 a {
  text-decoration: none;
  color: inherit;
}

.menu-smart {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 18px;
  }

  .film3 {
    display: none;
  }

  .menu {
    width: 60%;
  }

  .logo svg {
    width: 116px;
    height: 48px;
  }

  .user img {
    width: 36px;
    height: 36px;
  }
  .search-icon {
    width: 16.41px;
    height: 17px;
  }

  .big-arrow {
    width: 40px;
    height: 48px;
    margin-top: 30px;
  }

  .content2 .big-arrow {
    width: 40px;
    height: 48px;
    margin-top: 100px;
  }

  .content {
    margin: 0 20px;
  }

  h2 {
    margin: 5% 20px;
  }
  .film6 {
    display: none;
  }

  .content2 {
    justify-content: space-between;
    margin: 0 20px;
  }
}

@media screen and (max-width: 360px) {
  .logo svg {
    width: 100px;
    height: 34px;
    margin-left: 16px;
    margin-right: 70px;
  }

  .menu {
    display: none;
  }

  .header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .search-icon {
    width: 25px;
    height: 26px;
  }

  .menu-smart {
    display: block;
    margin-right: 16px;
  }

  .film2 {
    display: none;
  }

  .film5 {
    display: none;
  }

  .film1 .film-image {
    width: 297px;
    height: 168px;
  }
  .film4 .film-image {
    width: 297px;
    height: 447px;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
  }

  .little-arrow {
    display: none;
  }

  .big-arrow {
    width: 8px;
    height: 24px;
    margin-top: 30px;
  }

  .content2 .big-arrow {
    width: 8px;
    height: 24px;
    margin-top: 100px;
  }
}
